.hour-circle {
  background: #71933d3b;
  backdrop-filter: blur(5px);
}

.minute-circle {
  background: #484848;
  backdrop-filter: blur(5px);
}
.locker {
  transition: bottom 0.5s;
  border-radius: 5px;
}

.correct {
  border: 0.5px solid #99ff00;
  box-shadow: 0 0 5px #99ff00;
}
.wrong {
  border: 0.5px solid #848484;
}
.clock-container {
  box-shadow: 0 0 5px black, 0 0 10px rgba(0, 0, 0, 0.348);
}
